// app global css in Stylus form
// app global css in Stylus form

/* Estilos para telas menores */
@media only all and (max-width: 1024px) {

     .exemploGato {
        display:inline-block;
        width:105px;    
    }

    .layoutHome {
        min-heigth:100%; 
        max-width:90%;
    }

    .layoutPaginaSobre {
        min-height:100%;
        max-width:96%;
        margin-left:2%;
    }

    #logoPelagemGatos {
        margin-left:-2.5%;
        width:15%;
    }

    #tituloGeral {
        text-align:center;
    }

    #logoEpm {
        min-width:40px;
        width:10%; 
        float:left;
        margin-top:5px;
    }

    #logoUnifesp {
        min-width:75px;
        width:10%;
        float:right;
        margin-top:5px;
    }

    #botaoSobre {
        margin-right: -2%;
        width:10%;
    }

    #listaSobre {
        margin-top:2.5%;
    }
}

/* Estilo para telas maiores */

@media only all and (min-width: 1025px) {

    .exemploGato {
        display:inline-block;
        width:115px;    
    }

    .layoutHome {
        min-heigth:100%; 
        max-width:95%;
    }

    .layoutPaginaSobre {
        min-height:100%;
        max-width:98%;
        margin-left:1%;
    }

    #logoPelagemGatos {
        margin-left:-1%;
        width:5%;
    }

    #tituloGeral {
        text-align:center;
    }

    #logoEpm {
        min-width:40px;
        width:5%; 
        float:left;
        margin-top:5px;
    }

    #logoUnifesp {
        min-width:75px;
        width:7.5%;
        float:right;
        margin-top:5px;
    }

    #botaoSobre {
        margin-right: -5%;
        width:10%;
    }

    #listaSobre {
        margin-top:2%;
    }
}
